*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


nav li{
	font-size: 1.2rem;
	font-weight: normal;
}

.dropdown-menu{
	border: none;
}


.intro{
	margin-top: 5%;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.welcome_pic{
	padding: 5px;
}

.welcome_pic_two{
	display: none;
}

.welcome_intro{
	padding: 5px;
}

.welcome_intro h1{
	font-size: 5rem;
	font-weight: 1000;
	margin-bottom: 5%

}

.welcome_intro h5{
	font-weight: normal;
	margin-bottom: 6%;
}

.welcome_intro button{
	font-size: 1.3rem;
}

/* Removing outline from the buttons */
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{
	outline: none ;
	box-shadow: none;
	background: black;
	color: white;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){

nav li{
	font-size: 1.2rem;
	font-weight: normal;
	text-align: center;
}

.dropdown-menu{
	border: none;
}


.intro{
	margin-top: 10%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.welcome_pic{
	display: none;
}

.welcome_pic_two{
	display: block;
}

.welcome_pic_two img{
	width: 100%;
/*	border-radius: 50%;*/
	margin-top: 20%;
}

.welcome_intro{
	padding: 5px;
}

.welcome_intro h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 5%

}

.welcome_intro h5{
	font-weight: normal;
	margin-bottom: 10%;
}

.welcome_intro button{
	font-size: 1.3rem;
}

/* Removing outline from the buttons */
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{
	outline: none ;
	box-shadow: none;
	background: black;
	color: white;
}

}









.about{
	margin-top: 2%;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.about_pic{
	padding: 10px;
}


.about_intro h1{
	font-size: 5rem;
	font-weight: 1000;
	margin-bottom: 5%

}

.about_intro p{
	padding: 20px;
	text-align: left;
	text-indent: 30px;
	font-size: 1.2rem;
}

.second_p{
	font-weight: bolder;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){
.about{
	margin-top: 20%;
	width: 100%;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.about_pic{
	width: 100%;
	overflow: none;
	padding: 0;
	margin: 0;
}

.about_intro h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 5%;

}

.about_intro p{
	padding: 20px;
	text-align: left;
	text-indent: 30px;
	font-size: 1.2rem;
}

.second_p{
	font-weight: bolder;
}

}










.hours{
	margin-top: 3%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}

.hours_heading h1{
	font-size: 5rem;
	font-weight: 1000;
	margin-bottom: 3%;
}

.hours_heading li{
	text-decoration: none;
	font-size: 1.3rem;
	list-style: none;
	margin-bottom: .5rem;
}

.closed{
	color: red;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){

.hours{
	margin-top: -1%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}

.hours_heading h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 10%;
}

.hours_heading li{
	text-decoration: none;
	font-size: 1.2rem;
	list-style: none;
	margin-bottom: .5rem;
	text-align: center;
}

.closed{
	color: red;
}

}








.upcomingevents{
	background-image: url("Cornerstoneteam.jpg");
	background-repeat: none;
	background-position: top center;
	background-size: cover;
	text-align: center;
	align-items: center;
	align-content: center;
	color: white;
	padding: 20px;
}

.events h1{
	padding-top: 30px;
	font-size: 5rem;
	font-weight: bolder;
}

.events h5{
	font-weight: normal;
	margin-bottom: 2%;
}







/*Photo decoration */
.alert{
	text-align: center;
	margin: 10% 0 10% 0 ;
}




















footer{
	text-align: center;
	margin-top: 1.5%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px){

	footer{
	text-align: center;
	margin-top: 1.5%;
}


}